<!DOCTYPE html>
<html >
<head>
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
<style>
body {
  margin-top: 50px;
  background: url(/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label {
  display: inline !important;
  font-family: 'Playfair Display', serif;
}

#submit {
  margin-top: 75px !important;
}

.addRemoveBtn {
  position: relative !important;
  top: -100px !important;
  margin-top: -50px;
}

.submissionControls {
  position: relative;
  top: 25px;
  margin-bottom: 75px;
}

p {
  font-size: 25px;
  font-family: 'Playfair Display', serif;
}

.bold {
  font-weight: bold;
}

.header {
  font-size: 38px;
}

#bodyWell {
  background-color:  rgba(236, 240, 241, 0.5);
  margin: 100px -75px 0px 200px;
  padding: 25px;
  border: 0px;
}

.topMargin {
  margin-top: 150px;
}
</style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="well" id="bodyWell">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 formDiv">
          <p class="text-center header" id="title"> {{title}}</p>
          <form class="form-horizontal" id="meetEvent">
            <div id="meetEventBody">
              <div class="form-group">
                <label for="meetingDate" class="col-sm-3 control-label">Meeting Date</label>
                <div class="col-sm-6">
                  <input class="form-control meetingDate" id="meetingDate" name="meetingDate[]" required/>
                </div>
              </div>
              <div class="form-group">
                <label for="meetingTitle" class="col-sm-3 control-label">Meeting Title</label>
                <div class="col-sm-6">
                  <input class="form-control" id="meetingTitle" name="meetingTitle[]" required/>
                </div>
              </div>
              <div class="form-group">
                <label for="startTime" class="col-sm-3 control-label">Start Time</label>
                <div class="col-sm-6">
                  <input class="form-control numOnly" id="startTime" name="startTime[]" minlength="4" maxlength="5" required/>
                </div>
                <div class="col-sm-2">
                  <select class="form-control" name="startTimePeriod[]" required>
                  <option value=""> </option>
                  <option value="AM">AM</option>
                  <option value="PM">PM</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="endTime" class="col-sm-3 control-label">End Time </label>
              <div class="col-sm-6">
                <input class="form-control numOnly" id="endTime" name="endTime[]" minlength="4" maxlength="5" required/>
              </div>
              <div class="col-sm-2">
                <select class="form-control" name="endTimePeriod[]" required>
                <option value=""> </option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group formControls">
          <div class="col-sm-2 col-sm-offset-4">
            <button type="submit" class="btn btn-primary" id="submit"><i class="fa fa-sign-in"></i> Continue</button>
          </div>
        </div>
      </form>
      <div class="row addRemoveBtn">
        <div class="col-sm-4 col-sm-offset-3">
          <button id="add" class="btn btn-success" type="button"><i class="fa fa-plus"></i> Additional Meeting</button>
        </div>
        <div class="col-sm-4">
          <button id="remove" class="btn btn-success hidden"><i class="fa fa-minus"></i> Remove Meeting</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 hidden" id="submitContent">
      <p class="text-center header"> Meetings to Display </p>
      <div class="row">
        <div class="col-sm-3" id="meetingSubmitDate"><p class="bold">Date:</p>
          <p class="submittedDate"></p>
        </div>
        <div class="col-sm-5" id="meetingSubmitTitle"><p class="bold">Meeting Title:</p>
          <p class="submittedTitle"></p>
        </div>
        <div class="col-sm-2" id="meetingSubmitStart"><p class="bold">Start Time:</p>
          <p class="submittedStart"></p>
        </div>
        <div class="col-sm-2" id="meetingSubmitEnd"><p class="bold">End Time:</p>
          <p class="submittedEnd"></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.alphanum/1.0.24/jquery.alphanum.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js'></script>
<script>
$(document).ready(function(){
  //Limit input field to only allow numbers and colon.
  //By calling to our function below, it then gets applied.
 function numOnly(){
    $(".numOnly").alphanum({
      allow              : ':',
      disallow           : 'xyz',
      allowSpace         : false,
      allowNumeric       : true,
      allowUpper         : false,
      allowLower         : false,
      allowCaseless      : true,
      allowLatin         : true,
      allowOtherCharSets : true,
      forceUpper         : false,
      forceLower         : false,
      maxLength          : NaN
    });
  }
  numOnly();

  function convertTime(time) {
    return moment(time, "YYYY-MM-DD h:mm a").valueOf();
  }
//Sets datepicker settings then applies to initial date field
  $.datepicker.setDefaults({
    dateFormat: 'yy-mm-dd',
    showButtonPanel: true
  })
  $('.meetingDate').datepicker();

  let meetEventIndex = 0;
  let appendCount = 0;
  let formData;

  //We create a click function to add additional fields if an additional meeting is needed. It will also reveal the Remove button. Adds one to our counter each time
  $('#add').click(function(){
    meetEventIndex++;
    let appendTo = meetEventIndex == 1 ? '#meetEventBody' : '#meetEventBody' + (meetEventIndex-1);

        //When adding additional fields we look at the meetEventBody div and clone and append our cloned fields after the original field. We clear its contnets (if any) and change its id. We call back to our numOnly and datepicker function to ensure only numbers and colon are accepted in our fields.
    $("#remove").removeClass("hidden");
    $(appendTo).append('<div id="meetEventBody' + meetEventIndex +'"> \
    <div class="form-group"> \
        <label for="meetingDate" class="col-sm-3 control-label">Meeting Date</label> \
        <div class="col-sm-6">\
          <input class="form-control meetingDate" id="meetingDate' + meetEventIndex + '" name="meetingDate[]" required/>\
        </div>\
      </div>\
      <div class="form-group">\
        <label for="meetingTitle" class="col-sm-3 control-label">Meeting Title</label>\
        <div class="col-sm-6">\
          <input class="form-control" id="meetingTitle' + meetEventIndex +'" name="meetingTitle[]" required/>\
        </div>\
      </div>\
      <div class="form-group">\
        <label for="startTime" class="col-sm-3 control-label">Start Time</label>\
        <div class="col-sm-6">\
          <input class="form-control numOnly" id="startTime' + meetEventIndex +'" name="startTime[]" minlength="4" maxlength="5" required/>\
        </div>\
        <div class="col-sm-2">\
          <select class="form-control" name="startTimePeriod[]" required>\
          <option value=""> </option>\
          <option value="AM">AM</option>\
          <option value="PM">PM</option>\
        </select>\
      </div>\
    </div>\
    <div class="form-group">\
      <label for="endTime" class="col-sm-3 control-label">End Time </label>\
      <div class="col-sm-6">\
        <input class="form-control numOnly" id="endTime' +meetEventIndex + '" name="endTime[]" minlength="4" maxlength="5" required/>\
      </div>\
      <div class="col-sm-2">\
        <select class="form-control" name="endTimePeriod[]" required>\
        <option value=""> </option>\
        <option value="AM">AM</option>\
        <option value="PM">PM</option>\
      </select>\
    </div>\
  </div>\
</div>');
    numOnly();
    $('.meetingDate').datepicker();
  });

  //A click function to remove an additional fields we've added. This decrements our counter, and if counter = 0 we remove the remove button
  $("#remove").click(function(){
    $("#meetEventBody" + meetEventIndex).remove();
    meetEventIndex--;
    if(meetEventIndex == 0){
      $('#remove').addClass("hidden");
    }
  })
  //On submit, runs validation followed by showing a review screen to review meetings
$('#meetEvent').submit(function(e){
  e.preventDefault();

  $('#title').addClass('hidden');
  // We empty our three categories (If we don't, then each time we try to modify meetings,
  // it will duplicate previous meetings) before using a loop to create three variables
  // (title, start time and end time) and then append those to each corresponding category.
  $(".submittedDate, .submittedTitle, .submittedStart, .submittedEnd").empty();
    formData = $(this).serializeObject();
    var startEndTimeArr = [];
    // Create a loop for the purpose of testing our time inputs to verify that they contain a
    // colon as well as formatted in 12 hour time instead of 24 hour time


    for (var j = 0; j < formData.startTime.length; j++){
      var splitStart = formData.startTime[j].split('');
      var splitEnd = formData.endTime[j].split('');
      var date = formData.meetingDate[j];
      var startTime = formData.startTime[j] + " " + formData.startTimePeriod[j];
      var endTime = formData.endTime[j] + " " + formData.endTimePeriod[j];
      var convertedStartTime = convertTime(date + " " + startTime);
      var convertedEndTime = convertTime(date + " " + endTime);
      var title = formData.meetingTitle[j].length > 24 ? formData.meetingTitle[j].slice(0, 24) + '...' : formData.meetingTitle[j];
      var displayDate = moment(formData.meetingDate[j]).format('ddd, MMM DD YYYY');

      if (formData.startTime[j].length == 5){
        if(splitStart[0] == 0 || splitStart[1] > 2){
          alert ("Invalid input. Please input in 12 hour time (i.e 12:30 or 3:00)");
          return;
        }
      }
      if (formData.startTime[j][1] != ':' && formData.startTime[j][2] != ':'){
        alert ("Invalid input. Please include a colon (:) within your time.");
        return;
      }
      if(formData.endTime[j].length == 5){
        if(splitEnd[0] == 0 || splitEnd[1] > 2){
          alert ("Invalid input. Please input in 12 hour time (i.e 12:30 or 3:00)");
          return;
        }
      }
      if (formData.endTime[j][1] != ':' && formData.endTime[j][2] != ':'){
        alert ("Invalid input. Please include a colon (:) within your time.");
        return;
      }
      if (convertedEndTime < convertedStartTime){
        alert ("Invalid input. Start time can not be after end time.");
        return;
      }

      startEndTimeArr.push([convertedStartTime, convertedEndTime]);

      $('.submittedDate').append('<p>' + displayDate +' </p>');
      $(".submittedTitle").append('<p>' + title + '</p>');
      $(".submittedStart").append('<p>' + startTime + '</p>');
      $(".submittedEnd").append('<p>' + endTime + '</p>');
    }
    console.log(startEndTimeArr);
    //Hide and reveal controls as necessary
    $(this).addClass("hidden");
    $(".addRemoveBtn").addClass("hidden");
    $(".submissionControls, #submitContent").removeClass("hidden");

    //Sort by date/time
    function sortByStart(a, b){
    if (a[0] === b[0]){
        return 0;
      } else {
        return (a[0] < b[0]) ? -1 : 1;
      }
    }

    startEndTimeArr.sort(sortByStart);
    //We check if to make sure we don't already have a submissionControls, if we don't, we add them. If we do, no action.
    if(appendCount == 0){
      appendCount++;
      $("#submitContent").append('<div class="form-group submissionControls"><div class="col-sm-4 col-sm-offset-3"><button id="modify" class="btn btn-success"><i class="fa fa-edit"></i> Modify Meetings</button></div><div class="col-sm-3"><button type="submit" class="btn btn-primary" id="publish"><i class="fa fa-sign-in"></i> Publish</button></div></div>');
    }
    //When clicking modify meetings, we hide our submissionControls and content and reveal our form with appropriate buttons
    $("#modify").click(function(){
      $(".submissionControls, #submitContent").addClass("hidden");
      $("form, .addRemoveBtn").removeClass("hidden");
    })
    // A loop to test to determine if any overlapping meetings are occuring. If so, we disable the publish button and insist on the user modifying the meetings
    $("#publish").prop("disabled", false);
    for (var j = 0; j < startEndTimeArr.length; j++) {
      var numTwo = j + 1
      if (numTwo < startEndTimeArr.length){
        var end = startEndTimeArr[j][1];
        var startTwo = startEndTimeArr[numTwo][0];
        if (end > startTwo){
          alert ("Certain meeting times are overlapping, please select 'Modify Meetings' to correct them.");
          $("#publish").prop("disabled", true);
        }
      }
    }
  })

  //On submit of the form, we send an ajax call to our backend to write all meetings to our mongodb
 $(document).on('click', '#publish', function(event){
    $.ajax({
      method: "POST",
      url: "/createEvents/{{url}}",
      data: formData,
      success: function(){
        window.location.href = '/confSelect';
      },
      error: function(){
        alert("One or more meeting times are overlapping prior meetings. Please review meetings under \"Edit Meetings\" and adjust accordingly.");
        $(".submissionControls").empty().append('<div class="col-sm-2 col-sm-offset-2"><button id="modify" class="btn btn-success"><i class="fa fa-edit"></i> Modify Meetings</button></div><div class="col-sm-2 col-sm-offset-1"><a href="/editEvents/{{url}}" id="edit" class="btn btn-success"><i class="fa fa-edit"></i> Edit Meetings</a></div><div class="col-sm-2 col-sm-offset-1"><button type="submit" class="btn btn-primary" id="publish"><i class="fa fa-sign-in"></i> Publish</button></div>');
      }
  })
})
})
</script>
</body>
</html>
